/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --href-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --bg-color: #FFEEF6;
  --font: 'IBM Plex mono';
  --title-color: #FFC2E6;
  --decor-color: #353430;
  --header-image: url('images/cover-image-dark.png');
  --border-style: 1px solid #ff0070;
  --border-space: 10px;
  --title-section-color: #353430;
  --paragraph-color:#353430;
  --button-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --overlay: none;
} 

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --href-color: #ff8dcb;
    --bg-color: #FFEEF6;
    --font: 'IBM Plex mono';
    --title-color: #FFC2E6;
    --decor-color: #353430;
    --header-image: url('images/cover-image-dark.png');
    --border-style: 1px solid #ff8dcb;
    --border-space: 10px;
    --title-section-color: #353430;
    --paragraph-color:#353430;
    --button-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --overlay: none;
  }
}