/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --href-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --bg-color: #FFEEF6;
  --title-color: #FFC2E6;
  --text-color: #000028;
  --decor-color: #353430;
  --button-linear-color: 50, 49, 45;
  --header-title-color: #FF8DCB;
  --border-style: 1px solid #353430;
  --background-color: #FFF1F7;
  --border-space: 10px;
  --title-section-color: #353430;
  --paragraph-color: #353430;
  --button-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --overlay: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --href-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --bg-color: #FFEEF6;
    --title-color: #FFC2E6;
    --text-color: #000028;
    --decor-color: #353430;
    --button-linear-color: 50, 49, 45;
    --header-title-color: #FF8DCB;
    --border-style: 1px solid #353430;
    --background-color: #FFF1F7;
    --border-space: 10px;
    --title-section-color: #353430;
    --paragraph-color: #353430;
    --button-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --overlay: none;
  }
}