/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 200vw 100vh;
}

.header {
  height: 100vh;
}

.overlay {
  position: relative;
}

.overlay-element {
  position: absolute;
  width: 24px;
  height: 24px;
  border-right: var(--border-style);
  border-top: var(--border-style);
  top: 1.8vh;
  right: 1.8vh;
  color: var(--accent-color);
}

.overlay-element-bottom {
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: var(--border-style);
  border-bottom: var(--border-style);
  top: 94.8vh;
  left: 1.8vh;
}

.overlay-text {
  display: var(--overlay);
  position: absolute;
  right: 1.55em;
  bottom: 0em;
  font-size: 1.1em;
}

.overlay-round {
  display: var(--overlay);
  position: absolute;
  width: 13px;
  height: 13px;
  right: 0.5em;
  top: 0.38em;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 9px var(--accent-color);
}

.header_title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
  line-height: 0.8em;
  padding-left: 0.1em;
  padding-top: 11vh;
  padding-bottom: 0.8vh;
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--accent-color);
  margin: auto;
  text-align: left;
  max-inline-size: 95%;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.3em;
}

.title-decor:last-child {
  padding-right: 12%;
  margin-top: 8vh;
}

.header__theme-menu {
  padding-top: 20%;
  padding-right: 6.8%;
}

.header__theme-menu-button {
  color: var(--button-color);
  font-weight: 100;
  text-transform: lowercase;
  font-size: 1.1em;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1.5px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color);
  padding: 0 9px 0 9px;
}

a {
  text-shadow: 1px 1px 0 var(--href-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1.5px solid var(--text-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--text-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 2vh;
  justify-content: end;
}

.section-title {
  color: var(--title-section-color);
  font-size: 1.12em;
  font-weight: bold;
  max-inline-size: 95%;
  padding-left: 1.57vh;
  line-height: 1.388em;
  margin-top: 1.8vh;
  padding-top: 2.85vh;
  padding-bottom: 2vh;
}

.section-title:first-child {
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}

.section-paragraph {
  color: var(--paragraph-color);
  font-size: 1.13em;
  margin: auto;
  padding-top: 3%;
  line-height: 1.3em;
  margin-left: 2.5vw;
  max-inline-size: 95%;
  padding-bottom: 2.5vh;
}

.title-decor-weight {
  font-weight: 500;
  font-size: 1.1em;
  margin-top: 0.4vh;
}

.title-decor-advice {
  margin-top: -1vh;
  margin-bottom: 2.55vh;
}

.title-decor-picture {
  margin-top: 4.6vh;
}

.section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-images-container {
  display: grid;
  place-items: center;
  padding-left: 3%;
  margin-top: 2vh;
  grid-gap: 1.7vh;
  inline-size: 97%;
  padding-bottom: 10%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer-title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: bold;
  line-height: 0.8em;
}

@media (width <= 400px) {
  .section-paragraph-last {
    padding-bottom: 1.2vh;
  }
}

@media (width >=760px) {
  .header {
    display: grid;
  }

  .header_title {
    padding-left: 0;
    padding-top: 8.8vh;
    padding-bottom: 2%;
    font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-decor:last-child {
    margin-top: 20%;
    inline-size: 98%;
  }

  .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15%;
    padding-right: 2%;
  }

  .header__theme-menu {
    padding: 0;
    padding-top: 15%;
    padding-right: 4.5%;
  }

  .section-hard_focus {
    display: grid;
    grid-template-columns: 1fr 2.1fr;
  }

  .section-hard_focus-container {
    padding-top: 5.5vh;
    padding-left: 1vh;
    inline-size: 98%;
  }

  .section-hard_focus-container .section-paragraph {
    padding-bottom: 2vh;
    padding-top: 1vh;
  }

  .section-title-consentration {
    padding-top: 5%;
    width: 25%;
  }

  .section-title-consentration-container .section-paragraph {
    padding-top: 1%;
    padding-bottom: 2.48%;
  }

  .section-advice {
    display: grid;
    grid-template-columns: 1fr 1.85fr;
    padding-right: 1vh;
    padding-top: 1.5%;
  }

  .section-advice .section-paragraph {
    margin: 0;
    padding-left: 2%;
    padding-top: 1.5%;
    padding-bottom: 3.5%;
    max-inline-size: 98%;
  }

  .section-advice-container {
    padding-top: 13%;
  }

  .title-decor-picture {
    margin-top: 8%;
  }

  .section-images-container {
    display: grid;
    padding-left: 2vh;
    padding-bottom: 10.5vh;
    gap: 3%;
  }

  .section-image__sunset {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section-image__ice-cream {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .section-image__tape {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 11;
  }

  .section-image__coffee {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 9;
  }

  .section-image-street {
    grid-row-start: 7;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 13;
  }
}

@media (orientation: landscape) {
  .page {
    background-size: 100vw 100vh;
  }
}

@media (width >=1024px) {
  .header__theme-menu-list {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    align-self: flex-end;
    gap: 3.7%;
    padding-top: 1.5%;
  }

  .header__theme-menu {
    padding: 0;
    padding-bottom: 30vh;
  }

  .header_title {
    padding-top: 6.2vh;
    font-size: 9.8125rem;
  }

  .header-grid {
    margin-left: 1.2%;
  }

  .title-decor:last-child {
    margin-top: 14.5vh;
    word-spacing: 0.1em;
    max-inline-size: 100%;
  }

  .section-hard_focus {
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 1%;
    grid-template-columns: 1fr 2.3fr;
  }

  .section-hard_focus-container {
    padding-left: 2%;
  }

  .section-hard_focus .section-paragraph {
    padding-top: 2.2%;
    margin-right: 0;
    max-inline-size: 100%;
  }

  .section-title-consentration {
    padding-top: 2.4%;
    padding-left: 2%;
    padding-bottom: 2%;
    inline-size: 30%;
  }

  .section-title-consentration-container .section-paragraph {
    margin-top: 2%;
    margin-left: 4%;
  }

  .section-title-consentration-container {
    margin-left: 1%;
    margin-right: 1.7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-advice .section-title {
    padding-top: 10%;
    padding-left: 6%;
  }

  .section-advice {
    grid-template-columns: 1fr 2fr;
  }

  .section-advice-container {
    padding-top: 9%;
  }

  .section-advice-container .title-decor {
    max-inline-size: 95%;
  }

  .section-advice .section-paragraph {
    padding-bottom: 2.5%;
    max-inline-size: 99%;
  }

  .section-images-container {
    gap: 3%;
    padding-bottom: 13%;
    padding-left: 4vh;
  }

  .title-decor-picture {
    margin-top: 6%;
    margin-bottom: 2%;
  }

  .footer-title {
    font-size: 9.8125rem;
  }
}