.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.overlay-element {
  position: absolute;
  border-right: var(--border-style);
  border-top: var(--border-style);
  top: 10px;
  right: 10px;
  color: var(--accent-color);
  height: 24px;
  width: 24px;
}

.overlay-element-bottom {
  position: absolute;
  border-left: var(--border-style);
  border-bottom: var(--border-style);
  bottom: 10px;
  left: 10px;
  height: 24px;
  width: 24px;
}

.overlay-text {
  display: var(--overlay);
  position: absolute;
  right: 1.7em;
  bottom: 0.2em;
  font-size: 1.8em;
}

.overlay-text::after {
  content: '';
  display: var(--overlay);
  position: absolute;
  height: 12px;
  left: 2.45em;
  top: 0.38em;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  width: 12px;
}

.header_title {
  color: var(--title-color);
  font-size: 11.6em;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
  line-height: 0.8em;
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--accent-color);
  text-align: left;
  font-weight: 800;
  font-size: 1.8em;
  line-height: 1.3em;
}

.header-subtitle {
  grid-column: 2;
}

.header-elements {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.header__theme-menu-button {
  color: var(--button-color);
  font-weight: 100;
  text-transform: lowercase;
  font-size: 1.8em;
  padding: 0 12px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1.5px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(var(--button-linear-color), 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid rgb(var(--button-linear-color));
}

a {
  text-shadow: 1px 1px 0 var(--href-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1.5px solid var(--text-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--text-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
  justify-content: end;
}

.main {
  margin: 30px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-title {
  color: var(--title-section-color);
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 23.4px;
}

.section-paragraph {
  color: var(--paragraph-color);
  font-size: 1.8em;
  margin-top: 10px;
  line-height: 23.4px;
}

.section-hard_focus-container,
.section-title-consentration-container,
.section-advice-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-decor-weight {
  font-weight: 500;
  font-size: 1.8em;
}

.section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-images-container {
  display: grid;
  place-items: center;
  padding-top: 10px;
  grid-gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  justify-content: center;
  position: relative;
}

.footer-title {
  color: var(--title-color);
  font-size: 11.6em;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: bold;
  line-height: 0.8em;
}

@media (width >=760px) {
  .header {
    padding: 20px 20px 20px 5px;
  }

  .header-elements {
    padding: 9vh 0;
  }

  .header_title {
    font-size: 12em;
  }

  .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-subtitle {
    grid-row: 2;
  }

  .overlay-element {
    top: 20px;
    right: 20px;
  }

  .overlay-element-bottom {
    bottom: 20px;
    left: 20px;
  }

  .main {
    margin: 40px 0;
    padding: 20px;
    gap: 80px;
  }

  .section-hard_focus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-title-consentration {
    width: 30%;
  }

  .section-advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-images-container {
    padding-top: 20px;
    display: grid;
    gap: 20px;
  }

  .section-image__sunset {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section-image__ice-cream {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .section-image__tape {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 11;
  }

  .section-image__coffee {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 9;
  }

  .section-image-street {
    grid-row-start: 7;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 13;
  }
}

@media (width >=1024px) {
  .header {
    padding: 40px 40px 40px 0;
  }

  .header_title {
    margin-top: 4vh;
  }

  .header-grid {
    grid-template-columns: 1fr 1.05fr;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    gap: 2vw;
  }

  .header-elements {
    padding: 0;
  }

  .header_title {
    font-size: 15.7em;
  }

  .header-subtitle {
    margin-right: 1.5vw;
  }

  .section-hard_focus,
  .section-advice {
    gap: 10px;
  }

  .section-title-consentration-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-title {
    font-size: 15.7em;
  }
}