:root {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --decor-color: #000028;
  --background-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --href-color: #ff0070;
  --header-title-color: #ff0070;
  --border-style: 1px solid #ff0070;
  --paragraph-color: #F1B2CE;
  --title-section-color: #ff0070;
  --button-color: #ff0070;
  --button-linear-color: 255,0,112;
  --background-image: url(../images/cover-image-dark.png);
  --overlay: block;
}